<!--component html goes here -->
<!--component html goes here -->
<div class="SignInModule">
    <div class="SignInModule-header" style="direction: rtl;">
        <div class="SignInModule-header-title">
            {{title}}
        </div>
        <div class="SignInModule-header-close" (click)="closeModal()">
        </div>
    </div>
    <div class="SignInModule-body">
        <div class="SignInModule-body-inputcontainer">
            <label for="name">{{containt}}</label>
        </div>
        
        <div (click)="cansel()" class="SignInModule-body-inputcontainer SignInModule-body-btn">
            تم
        </div>


    </div>
</div>