// component css goes here

@font-face {
  font-family: Cairo-Bold;
  src: url('../../assets/fonts/Cairo/Cairo-Bold.ttf');
}

.SignInModule {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    /*width: 35%;*/
        font-family: Cairo-Bold;
    background-color: white;
}

@media screen and (max-width: 700px) {
    /* line 13, ../sass/_SignInModule.scss */
    .SignInModule {
        width: 100%;
    }
}

@media screen and (max-width: 780px) {
    .SignUpModule-body-inputcontainer {
        padding:0;
    }
}

/* line 22, ../sass/_SignInModule.scss */

.SignInModule-header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    text-align: center;
    background-color: #bd59d4;
    color: #fff;
    width: 100%;
    line-height: 50px;
    font-size: 14px;
}


/* line 31, ../sass/_SignInModule.scss */

.SignInModule-header-title {
    padding-right: 10px;
    text-align: right;
    -webkit-flex-grow: 4;
    flex-grow: 4;
}


/* line 36, ../sass/_SignInModule.scss */

.SignInModule-header-close {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    background-color: #bd59d4;
    background-image: url(../../assets/images/icons/close.svg);
    /*background-image: url(../../assets/imgs/magnifier.svg);*/
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    height: 48px;
    max-width: 50px;
    min-width: 50px;
}


/* line 50, ../sass/_SignInModule.scss */

.SignInModule-body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    background-color: white;
}


/* line 58, ../sass/_SignInModule.scss */

.SignInModule-body-inputcontainer {
    width: 85%;
    max-width: 95%;
    padding: 5px 0;
}


/* line 62, ../sass/_SignInModule.scss */

.SignInModule-body-inputcontainer label {
    color: #525C65;
    font-size: 12px;
}


/* line 66, ../sass/_SignInModule.scss */

.SignInModule-body-inputcontainer-text {
    width: 100%;
    border: 1px solid transparent;
    color: #525C65;
    border-bottom: 1px solid #525C65;
    height: 35px;
    font-size: 18px;
    padding-bottom: 4px;
    padding-top: 5px;
}


/* line 76, ../sass/_SignInModule.scss */

.SignInModule-body-inputcontainer-select {
    width: 100%;
    font-size: 18px;
    height: 35px;
    border: 1px solid transparent;
    background-color: #fff;
    color: #525C65;
    border-bottom: 1px solid #525C65;
}


/* line 85, ../sass/_SignInModule.scss */

.SignInModule-body-inputcontainer-checkboxcontainer {
    margin-top: 26px;
}


/* line 88, ../sass/_SignInModule.scss */

.SignInModule-body-inputcontainer-checkboxlabel {
    vertical-align: middle;
}


/* line 92, ../sass/_SignInModule.scss */

.SignInModule-body-btn {
    box-shadow: 0 0 7px 0 #525c65;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -webkit-transition: all 150ms linear;
    transition: all 150ms linear;
    background-color: #525C65;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-family: Cairo-Bold;
    height: 42px;
    line-height: 32px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 6px 46px;
    text-align: center;
    text-align: center;
    text-decoration: none;
}


/* line 108, ../sass/_SignInModule.scss */

.SignInModule-body-btn:hover {
    box-shadow: 0 0 15px 0 #525c65;
}


/* line 113, ../sass/_SignInModule.scss */

.SignInModule-footer {
    margin-top: 40px;
    background-color: white;
    text-align: center;
    background-color: white;
    color: #525C65;
    width: 100%;
    line-height: 50px;
    font-size: 14px;
}

@media screen and (max-width: 780px) {
    .SignUpModule-body-inputcontainer {
        line-height: 35px;
        margin-top: 0
    }
    .SignUpModule-footer {
        margin-top: 0
    }
}

/* line 3, ../sass/_SignInModuleContainer.scss */

.SignInModuleContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
}


