<!--<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
	<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
		<form id="login100-form" class="login100-form validate-form">
			<span class="login100-form-title p-b-37">
					تسجيل الدخول
				</span>

			<div class="wrap-input100 validate-input m-b-20" data-validate="يرجى إدخال رقم الهاتف">
				<input class="input100" [(ngModel)]="loginUser.email" type="text" name="phone-l" placeholder="رقم الهاتف">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input m-b-25" data-validate="يرجى إدخال كلمة السر">
				<input class="input100" [(ngModel)]="loginUser.password" type="password" name="pass-l" placeholder="كلمة السر">
				<span class="focus-input100"></span>
			</div>

			<div class="container-login100-form-btn">
				<button (click)="signIn()" class="login100-form-btn">
						تسجيل الدخول
					</button>
			</div>
			<div class="text-center p-t-20 p-b-20">
				<span class="txt1">
					  أو
					</span>
			</div>
			<div class="container-signup100-btn">
				<button    id="signup-form-btn" class="signup100-btn">
					 إنشاء حساب
					</button>
			</div>
		</form>
		<form id="signup100-form" class="signup100-form validate-form ">
			<span class="signup100-form-title p-b-37">
					حساب جديد
				</span> 
			<div class="wrap-input100 validate-input m-b-20" data-validate="يرجى إدخال الاسم">
				<input class="input100" type="text" [(ngModel)]="user.username" name="username-s" placeholder="الاسم">
				<span class="focus-input100"></span>
			</div>
			<div class="wrap-input100 validate-input m-b-20" data-validate="يرجى إدخال البريد الإلكتروني">
				<input class="input100" type="email" [(ngModel)]="user.email" name="email-s" placeholder="البريد الإلكتروني">
				<span class="focus-input100"></span>
			</div>
			<div class="wrap-input100 validate-input m-b-25" data-validate="يرجى إدخال كلمة السر">
				<input class="input100" type="password" [(ngModel)]="user.password" name="pass-s" placeholder="كلمة السر">
				<span class="focus-input100"></span>
			</div>
			<div class="wrap-input100 validate-input m-b-25" data-validate="كلمة المرور غير متطابقة !">
				<input class="input100" type="password" name="pass-re-s" placeholder="أعد إدخال كلمة السر">
				<span class="focus-input100"></span>
			</div>
			<div class="wrap-input100 validate-input m-b-20" data-validate="يرجى إدخال رقم الموبايل">
				<input class="input100" type="text" name="username-s" [(ngModel)]="user.mobile" placeholder="رقم الموبايل">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input m-b-20"  data-validate="يرجى إدخال تاريخ الميلاد">
				<input ngx-mydatepicker name="mydate" [(ngModel)]="user.birthdate" [options]="myOptions"
			 #dp="ngx-mydatepicker" class="input100" (click)="dp.toggleCalendar()" type="text" id="birth-s" name="birth-s" placeholder="الميلاد">
				<span class="focus-input100"></span>
			</div>
			<div class="wrap-input100 validate-input m-b-20" data-validate="يرجى اختيار الجنس">
				<select class="form-control select-input100" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.gender" id="sel1">
						<option [ngValue]="undefined" disabled selected>الجنس</option>
						<option  value="ذكر">ذكر</option>
						<option value="أنثى">أنثى</option>
					</select>
			</div>
			<div class="wrap-input100 validate-input m-b-20" data-validate="يرجى اختيار مهنة من القائمة">
				<select class="form-control select-input100" id="sel2" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.profession">
						<option [ngValue]="undefined" disabled selected>المهنة</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
 					</select>
			</div>

			<div class="container-signup100-btn">
				<button (click)="signUp()" type="submit" class="signup100-btn">
					 إنشاء حساب
					</button>
			</div>
		</form>


	</div>
</div>



<div id="dropDownSelect1"></div>-->



<div class="container-login100">
	<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
		<form id="login100-form" class="login100-form validate-form ">
			<span class="login100-form-title p-b-37">
					تسجيل الدخول
				</span>
			<div class="wrap-input100 validate-input m-b-20" data-validate="يرجى إدخال البريد الإلكتروني ">
				<input class="input100" type="text" [(ngModel)]="loginUser.email" name="phone-l" placeholder="البريد الإلكتروني">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input m-b-25" data-validate="يرجى إدخال كلمة السر">
				<input class="input100" type="password" [(ngModel)]="loginUser.password" name="pass-l" placeholder="كلمة السر">
				<span class="focus-input100"></span>
			</div>

			<div class="container-login100-form-btn">
				<button (click)="signIn()" class="login100-form-btn">
						تسجيل الدخول
					</button>
			</div>
			<div class="text-center p-t-20 p-b-20">
				<span class="txt1">
					  أو
					</span>
			</div>
			<div class="container-signup100-btn">
				<button id="signup-form-btn" class="signup100-btn">
					 إنشاء حساب
					</button>
			</div>
			<div class="text-center p-t-20 p-b-20" style="padding: 10px;">
				<span class="txt1">
						<a id="forget100-form-show" href="#">نسيت كلمة المرور ؟</a>
					</span>
			</div>
			<div class="text-center p-t-20 p-b-20" style="padding: 10px;padding-bottom: 0px">
				<span class="txt1">
						<a id="forget100-form-show" routerLink="{{'/verification'}}">تاكيد الحساب ؟</a>
					</span>
			</div>
			{{params | json}}

		</form>
		<form id="forget100-form" class="forget100-form validate-form ">
			<span class="forget100-form-title p-b-37">
					أدخل البريد الإلكتروني الخاص بك و سيتم إرسال رسالة لاستعادة كلمة المرور
				</span>
			<div class="wrap-input100 validate-input m-b-20" data-validate="يرجى إدخال البريد الإلكتروني">
				<input class="input100" type="text" name="phone-f" [(ngModel)]="loginUser.email" placeholder="البريد الإلكتروني">
				<span class="focus-input100"></span>
			</div>
			<div class="container-forget100-form-btn">
				<button id="verify100-form-show" (click)="resetPassword()" class="forget100-form-btn">
					إرسال الرمز
					</button>
			</div>
			<div class="text-center p-t-20 p-b-20">
				<span class="txt1">
						<a id="back-to-login" href="#">العودة للخلف</a>
					</span>
			</div>
		</form>
		<form id="signup100-form" class="signup100-form validate-form ">
			<span class="signup100-form-title p-b-37">
					حساب جديد
				</span>
			<div class="wrap-input100 validate-input m-b-20" data-validate="يرجى إدخال الاسم">
				<input class="input100" type="text" [(ngModel)]="user.username" name="username-s" placeholder="الاسم">
				<span class="focus-input100"></span>
			</div>
			<div class="wrap-input100 validate-input m-b-20" data-validate="يرجى إدخال البريد الإلكتروني">
				<input class="input100" type="email" [(ngModel)]="user.email" name="email-s" placeholder="البريد الإلكتروني">
				<span class="focus-input100"></span>
			</div>
			<div class="wrap-input100 validate-input m-b-25" data-validate="يرجى إدخال كلمة السر">
				<input class="input100" type="password" [(ngModel)]="user.password" name="pass-s" placeholder="كلمة السر">
				<span class="focus-input100"></span>
			</div>
			<div class="wrap-input100 validate-input m-b-20" data-validate="يرجى إدخال رقم الموبايل">
				<input class="input100" type="text" name="username-s" [(ngModel)]="user.mobile" placeholder="رقم الموبايل">
				<span class="focus-input100"></span>
			</div>

			<div class="wrap-input100 validate-input m-b-20" data-validate="يرجى إدخال تاريخ الميلاد">
				<input ngx-mydatepicker name="mydate" [(ngModel)]="user.birthdate" [options]="myOptions" #dp="ngx-mydatepicker" class="input100"
				 (click)="dp.toggleCalendar()" type="text" id="birth-s" name="birth-s" placeholder="الميلاد">
				<span class="focus-input100"></span>
			</div>
			<div class="wrap-input100 validate-input m-b-20" data-validate="يرجى اختيار الجنس">
				<select class="form-control select-input100" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.gender" id="sel1">
					<option [ngValue]="undefined" disabled selected>الجنس</option>
					<option  value="ذكر">ذكر</option>
					<option value="أنثى">أنثى</option>
				</select>
			</div>
			<div class="wrap-input100 validate-input m-b-20" data-validate="يرجى اختيار مهنة من القائمة">
				<select class="form-control select-input100" id="sel2" [ngModelOptions]="{standalone: true}" [(ngModel)]="user.profession">
					<option [ngValue]="undefined" disabled selected>المهنة</option>
					<option value="الإدارة وخدمات الدعم الإداري">الإدارة وخدمات الدعم الإداري</option>
					<option value="النقل والخدمات اللوجستية">النقل والخدمات اللوجستية</option>
					<option value="لخدمات الإجتماعية">الخدمات الإجتماعية</option>
					<option value="الإعلام والإعلان">الإعلام والإعلان</option>
					<option value="المبيعات والتسويق">المبيعات والتسويق</option>
					<option value="والتصنيع">الصناعة والتصنيع</option>
					<option value="الخدمات الطبية والعلوم">الخدمات الطبية والعلوم</option>
					<option value="الطاقة والنفط والغاز">الطاقة والنفط والغاز</option>
					<option value="فنادق ومطاعم">فنادق ومطاعم</option>
					<option value="التشيد والعقارات">التشيد والعقارات</option>
					<option value="البنوك والصيرفة">البنوك والصيرفة</option>
					<option value="التكنولوجيا والإتصالات">التكنولوجيا والإتصالات</option>
					<option value="محاسبة">محاسبة</option>
					<option value="تعليم">تعليم</option>
					<option value="الفنون والتصميم">الفنون والتصميم</option>
					<option value="خدمات قانونية">خدمات قانونية</option>
					<option value="المهن اليدوية والحرفية">المهن اليدوية والحرفية</option>
				</select>
			</div>
			<div class="container-signup100-btn">
				<button type="submit" (click)="signUp()" class="signup100-btn">
					 إنشاء حساب
					</button>
			</div>
			<div class="text-center p-t-20 p-b-20">
				<span class="txt1">
						<a id="signin-form-btn" href="#">العودة لتسجيل الدخول</a>
					</span>
			</div>
		</form>
		<form id="successLogin-form" class="verify100-form validate-form" style="">
			<span class="verify100-form-title p-b-37">
                تم تسجيل الدخول بنجاح
				</span>

			<div class="container-signup100-btn">
				<button id="signup-form-btn" (click)="gotToLink()" class="signup100-btn">
					الذهاب لصبحة النت
					</button>
			</div>
		</form>
<!--
		<form id="successLogin-form" class="verify100-form validate-form" style=""  action="https://www.google.com/" target="_blank" method="post">
			<input type="" name="dst" value="ASAS" />
			<input type="" name="popup" value="true" />

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
  <input type="submit" value="Submit">
				</div>
			</div>
		</form>-->


	</div>
</div>



<div id="dropDownSelect1"></div>